nasikoai.net {
	handle /api/* {
		uri strip_prefix /api
		reverse_proxy server:3002
	}
	handle {
		reverse_proxy web:3000
	}
}

http://134.209.56.131 {
	handle /api/* {
		uri strip_prefix /api
		reverse_proxy server:3002
	}
	handle {
		reverse_proxy web:3000
	}
}
